<footer>
    <div class=" footer-content ">
        <p>&copy;All rights not reserved</p>
        <nav>
            <ul class='footer-item'>
                <li><a href=" /term ">Terms of use</a></li>
            </ul>
        </nav>
    </div>
</footer>