<nav class='nav-bar'>
    <div class="nav-brand">
        <a href="/" class="logo">STACKOVERMEME</a>
    </div>
    <a class='nav-toggle' href="/term" "><img class='nav-icon ' src=/img/menu-icon.svg></a>
    <div class=" nav-toggle-item ">
        <ul class='nav-item'>
            <li><a href="/ " class="nav-link ">HOME</a></li>
            <li><a href="# " class="nav-link ">ABOUT</a></li>
            <li><a href="/templates " class="nav-link ">CREATE</a></li>
        </ul>
    </div>
</nav>