<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term of Use</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="appcss.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="termstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container">
            <h1>STACKOVERMEME TERMS AND CONDITIONS</h1>
            <p><span class='bold'>Highlights:</span>Welcome to StackOverMeme! These Terms are an agreement between you and StackOverMeme that set out how our Platform must be used. You must agree to these Terms before you can use our service</p>
            <span class="space"></span>
            <p><span class="bold">Details:</span> Welcome to the StackOverMeme online platform. These terms and conditions, including any policies, codes of conduct or other terms set out on the Platform (Terms, including our Addendum in Respect of Privacy
                and Data Processing, where applicable) govern your access to and use of the Platform and the related services offered by us (collectively, the Services). In these Terms we, us and our, refers to StackOverMeme Pty Ltd (ACN 162516556).</p>
            <span class="space"></span>
            <p>By using or accessing the Platform, you confirm your acceptance of these Terms. </p>
            <span class="space"></span>
            <h2>WHO CAN USE STACKOVERMEME</h2>
            <span class="space"></span>
            <h3>Age Requirement</h3>
            <span class="space"></span>
            <p><span class="bold">Highlights:</span> You must be at least 13 years old to use Clipchamp.</p>
            <span class="space"></span>
            <p><span class="bold">Details:</span> You must be at least 13 years old, or older than the minimum age required by the laws of your country, to use Clipchamp and the Services.</p>
            <span class="space"></span>
            <h3>Parent Permission</h3>
            <span class="space"></span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos magnam sit exercitationem consequuntur obcaecati! Aliquid nisi autem soluta facere explicabo voluptate, eius quam sunt id cumque. Molestiae suscipit quaerat sit. Ea commodi magnam
                repellendus reiciendis, suscipit placeat asperiores. Animi et enim blanditiis dolores dignissimos doloribus nobis aliquam possimus eos, repellat exercitationem a ullam, culpa minima nulla obcaecati dolore alias itaque?</p>
            <span class="space"></span>
            <h2>ACCEPTING THE TERMS</h2>
            <span class="space"></span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus reiciendis dicta architecto quam? Nesciunt iste, quaerat dolorem veritatis laboriosam inventore ad sint, aliquam repudiandae cupiditate quisquam consectetur sequi earum excepturi.
                Architecto nobis ex iste natus consequuntur aperiam repellat possimus repellendus? Quisquam aspernatur, quis beatae, explicabo sapiente possimus dolores assumenda numquam labore minus totam qui harum itaque! Doloremque itaque minima facere!
                Eos numquam saepe iure id nisi ipsa quas odio voluptatum sunt debitis sapiente nostrum delectus assumenda in itaque dolor, fugiat, excepturi pariatur quam ullam aperiam! Delectus, neque quos? Odio, excepturi! Quis voluptatum eum qui? Eum
                placeat animi, blanditiis explicabo officia ex in nam eligendi iusto facilis. Quaerat nemo dolores, illo sunt facilis, consequuntur corporis excepturi quo explicabo dolorem eligendi. Dicta.</p>
        </div>
        <%- include('partials/footer') %>
</body>