#canvas-wrap-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.go-back {
    margin-left: 8px;
}

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#canvas-wrapper {
    display: flex;
    flex-direction: row;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.btn:hover,
.btn:focus,
.btn:active {
    transform: scale(1.1);
}

.btn-1 {
    color: #fff;
    background-color: #f98404;
    border-color: #f98404;
}

.btn-2 {
    color: #fff;
    background-color: #00adb5;
    border-color: #00adb5;
}

.btn-3 {
    color: #fff;
    background-color: #393e46;
    border-color: #393e46;
}

.edit-method {
    margin-left: 50px;
    font-weight: 400;
}

.form-group {
    margin: 8px;
}

textarea {
    font-size: 1.5rem;
    width: 20rem;
}

.colorpicker {
    border: 1px solid #0f0f0f;
    border-radius: 10%;
    width: 2em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    position: absolute;
}

.colorpicker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.colorpicker::-webkit-color-swatch {
    border: 1px solid black;
    border-radius: 10%;
}

#text-color {
    height: 64px;
}

#stroke-color {
    height: 20px;
}

#generate-meme {
    margin: 8px;
    margin-top: 4px;
}

.go-back {
    margin: 8px;
}

.delete-btn {
    margin: 8px;
}

.additional-btn {
    display: flex;
}

@media(max-width: 1024px) {
    .edit-method {
        margin-left: 0;
    }
}

@media(max-width: 876px) {
    #canvas-wrap-wrapper {
        flex-direction: column;
    }
    .form-group {
        margin: 4px;
    }
}

.drawing-mode-option {
    display: flex;
    flex-direction: column;
}

.btn-3 {
    margin-top: 8px;
}

.draw-form {
    margin: 4px 0;
}