<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="appcss.css">
    <link rel="stylesheet" href="template-css.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>All template</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <%- include('../partials/navbar')  %>
        <h1>All template</h1>
        <div class="grid-container">
            <% for (let meme of template){ %>
                <div>
                    <li>

                        <a href="/create/<%=meme._id%> ">
                            <img src="<%=meme.url%> " alt="">
                        </a>
                    </li>
                </div>
                <% } %>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>